body{
	background: #07889b;
	line-height: 1.5;
}
a{
	text-decoration: none;
}
a, body{
	color: #f4f4f4;
}
.side-bar{
	float: left;
	width: 20%;
	position: fixed;
	/*background: #07889B;*/
}
.side-bar > *{
	padding: 10px 15px;
}
.side-bar >nav >a,
.side-bar .tag-list >a{
	display: block;
	padding: 5px;
	color: #66b9bf;
	-webkit-transition:color 200ms;
	-moz-transition: color 200ms;
	-o-transition: color 200ms;
	transition: color 200ms;
}
.side-bar >nav >a:hover,
.side-bar .tag-list >a:hover{
	color: #F4F4F4;
}
.side-bar >nav >a{
	font-weight: bold;
}
.main{
	float: right;
	width: 80%;
	color: #07889B;
}
header .logo{
	line-height: 1;
	padding: 10px 20px;
	font-size: 18px;
	display: inline-block;
	margin-bottom: 10px;
	font-family:fantasy;
}
.articleList, .article{
	margin-right: 30%;
	background: #F4F4F4;
	padding: 20px 30px;
	box-shadow: 3px 4px 12px 0px rgba(0,0,0,0.4);
}
.articleList .item{
	margin-bottom: 20px;
}
.articleList .item >*,
.article >*{
	margin: 10px 0;
	
}
.articleList .item >a,
.article >h1{
	font-size: 24px;
	font-weight: 700;
	color: #07889B;
}
.articleList .item .status,
.article .status{
	font-size:13px;
	color: #66B9BF;
}
